/* thai */
@font-face {
  font-family: "Kanit";
  font-style: normal;
  font-weight: 400;
  src: url(../font/Kanit-Regular.ttf) format("woff2");
  unicode-range: U+0E01-0E5B, U+200C-200D, U+25CC;
}ฟ
/* vietnamese */
@font-face {
  font-family: "Kanit";
  font-style: normal;
  font-weight: 400;
  src: url(../font/Kanit-Regular.ttf) format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1,
    U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: "Kanit";
  font-style: normal;
  font-weight: 400;
  src: url(../font/Kanit-Regular.ttf) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin ตัวเลข*/
@font-face {
  font-family: "Kanit";
  font-style: normal;
  font-weight: 400;
  src: url(../font/Kanit-Regular.ttf) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

body {
  /* The image used */
  background-image: url("../img/payment/bg-blue2.jpg");
  /* Full height */
  height: 100%;
  /*background-position: center;*/
  background-repeat: no-repeat;
  /*background-size:contain;*/
  /*background-position:center;*/
  /*background-size: cover;*/
}
.form-container {
  font-family: "Roboto", sans-serif;
  /* padding: 40px 40px 0 0; */
  position: relative;
}

.form-container .form-icon {
  color: #e6145e;
  background-color: #fff;
  font-size: 40px;
  text-align: center;
  line-height: 80px;
  height: 80px;
  width: 80px;
  border: 3px solid #e6145e;
  border-radius: 50% 50% 50% 0;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}

.form-container .form-horizontal {
  background: linear-gradient(#e7e7e7 25px, rgba(255, 255, 255, 0.97) 25px);
  padding: 40px 20px 20px;
  box-shadow: 0 0 20px -5px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

.form-container .title {
  color: #222;
  font-size: 27px;
  font-weight: 600;
  text-transform: capitalize;
  letter-spacing: 0.5px;
  margin: 0 0 20px;
}

.form-container .title:after {
  content: "";
  background-color: #e6145e;
  height: 3px;
  /* width: 270px; */
  margin: 10px 0 0;
  display: block;
  clear: both;
}

.form-horizontal .form-group {
  background-color: rgba(255, 255, 255, 0.15);
  margin: 0 0 15px;
  border-bottom: 1px solid #e7e7e7;
}

.form-horizontal .input-icon {
  color: #b5b5b5;
  font-size: 20px;
  text-align: center;
  line-height: 35px;
  height: 35px;
  width: 30px;
  margin: 0 0 0 4px;
  vertical-align: top;
  display: inline-block;
}

.form-horizontal .form-control {
  color: #222;
  background-color: transparent;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 1px;
  width: calc(100% - 40px);
  height: 33px;
  padding: 3px 10px 0 0;
  box-shadow: none;
  border: none;
  border-radius: 0;
  display: inline-block;
  transition: all 0.3s;
}

.form-horizontal textarea.form-control {
  height: auto;
  width: 100%;
}

.form-horizontal .form-control:focus {
  box-shadow: none;
  border: none;
}

.form-horizontal .form-control::placeholder {
  color: #b5b5b5;
  font-size: 15px;
  font-weight: 400;
  text-transform: capitalize;
}

.form-horizontal .btn:hover,
.form-horizontal .btn:focus {
  /* background-color: #5cb85c; */
  /* border: 2px solid #e6145e; */
}

.form-horizontal .btn i {
  transition: all 0.3s ease 0s;
}

.form-horizontal .btn:hover i {
  color: #e6145e;
  transform: translateX(3px);
}

.form-container {
  font-family: "Kanit", sans-serif;
}

/**/
.flex {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row wrap;
  -webkit-box-align: center;
  align-items: center;
}

.flex.justify-space-between {
  -webkit-box-pack: justify;
  justify-content: space-between;
}

.card .card-body .form-container .form-horizontal .payment-type,
.card .card-body .form-container .form-horizontal .payment-info {
  margin-bottom: 25px;
}

.card .card-body .form-container .form-horizontal .payment-type h4 {
  margin: 0;
}

.card .card-body .form-container .form-horizontal .payment-type .types {
  margin: 25px 0;
}

.card .card-body .form-container .form-horizontal .payment-type .types .type {
  width: auto;
  position: relative;
  background: #f2f4f7;
  border: 2px solid #e8ebed;
  padding: 2px;
  box-sizing: border-box;
  border-radius: 6px;
  cursor: pointer;
  text-align: center;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  margin: 10px 0px;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s; */
}

.card
  .card-body
  .form-container
  .form-horizontal
  .payment-type
  .types
  .type:hover {
  border-color: #16a500;
  background: rgba(64, 179, 255, 0.1);
}

.card
  .card-body
  .form-container
  .form-horizontal
  .payment-type
  .types
  .type:hover
  .logo,
.card
  .card-body
  .form-container
  .form-horizontal
  .payment-type
  .types
  .type:hover
  p {
  color: #28333b;
}

.card
  .card-body
  .form-container
  .form-horizontal
  .payment-type
  .types
  .type.selected {
  border-color: #16a500;
  background: #dcf5db;
}

.card
  .card-body
  .form-container
  .form-horizontal
  .payment-type
  .types
  .type.selected
  .logo {
  color: #16a500;
}

.card
  .card-body
  .form-container
  .form-horizontal
  .payment-type
  .types
  .type.selected
  p {
  color: #28333b;
}

.card
  .card-body
  .form-container
  .form-horizontal
  .payment-type
  .types
  .type.selected::after {
  content: "\f00c";
  font-family: "FontAwesome";
  font-weight: 1000;
  position: absolute;
  color: #16a500;
  height: 45px;
  width: 45px;
  top: -12px;
  right: -18px;
  background: #ebfff1;
  border: 2px solid #16a500;
  border-radius: 50%;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
}

.card
  .card-body
  .form-container
  .form-horizontal
  .payment-type
  .types
  .type
  .logo,
.card .card-body .form-container .form-horizontal .payment-type .types .type p {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.card
  .card-body
  .form-container
  .form-horizontal
  .payment-type
  .types
  .type
  .logo {
  font-size: 48px;
  color: #000000;
}

.card .card-body .form-container .form-horizontal .payment-type .types .type p {
  margin-bottom: 0;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.5px;
  color: #000000;
}

.btn {
  /* width: 100%; */
  color: white;
  justify-content: center;
  padding: 1vh 0;
  margin-top: 1vh;
}

.btn:focus {
  box-shadow: none;
  outline: none;
  box-shadow: none;
  color: white;
  -webkit-box-shadow: none;
  -webkit-user-select: none;
  transition: none;
}

.btn:hover {
  color: white;
}

/*Swal Set Size*/
.swal2-popup {
  font-size: 1.3rem !important;
}

.container {
  padding: 3px;
}
